@use "sass:meta";
@include meta.load-css("reset");
@include meta.load-css("icons");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400..700&display=swap");

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0e0f14;
  color: #fff;
}

.container {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 12px;
  }
}
